@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

header {
  height: auto;
  background-image: linear-gradient(to left, #bbe123, #f3c12d, #ff7b00, #920707); }
  header nav ul li {
    list-style-type: none;
    font-size: 2rem;
    margin: 20px; }
    header nav ul li a {
      text-decoration: none;
      padding: 6px 15px;
      color: #fff;
      border-radius: 20px; }
      header nav ul li a:hover, header nav ul li a.active {
        background: #fff;
        color: #920707; }

@media screen and (min-width: 1024px) {
  header, ul {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .row-reverse {
    display: flex;
    flex-direction: row-reverse; }
  .accountDerecha {
    justify-content: flex-end; }
  .navegador {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "gridlogo gridNavIzq gridNavDer"; }
    .navegador .gridlogo {
      grid-area: gridlogo; }
    .navegador .gridNavDer {
      grid-area: gridNavDer; }
    .navegador .gridNavIzq {
      grid-area: gridNavIzq; } }

@media screen and (max-width: 768px) {
  .navegador, ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; } }

footer {
  background-image: linear-gradient(to bottom, #202ba8, #1064cb); }
  footer .contactDecoration {
    padding: 10px 50px; }
  footer label {
    font-size: 2rem;
    margin-right: 20px; }
  footer a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem; }
    footer a:hover {
      text-decoration: underline;
      color: #fff; }
  footer input {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    box-sizing: border-box; }
    footer input[type="email"] {
      background: #fff;
      width: 340px;
      height: 50px;
      padding: 0 25px;
      border-radius: 8px 0 0 8px; }
    footer input[type="submit"] {
      position: relative;
      border-radius: 0 8px 8px 0;
      width: 150px;
      height: 50px;
      cursor: pointer;
      background: #004cff;
      color: #fff;
      padding-left: 30px; }
      footer input[type="submit"]:hover {
        background: aqua; }

.flexEndFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

@media screen and (max-width: 768px) {
  footer .contactDecoration {
    padding: 10px 20px; }
  footer input[type="submit"] {
    position: relative;
    border-radius: 0 0 8px 8px;
    width: 80%;
    margin: 0 10%;
    height: 4rem;
    cursor: pointer;
    background: #004cff;
    color: #fff;
    padding: 0;
    text-align: center; }
    footer input[type="submit"]:hover {
      background: aqua; }
  footer section.contactDecoration h3 {
    width: 80%;
    margin: 2% 10%; }
  footer section.contactDecoration label {
    display: block;
    font-size: 2.1rem;
    width: 80%;
    margin: 4% 10%; }
  footer input[type="email"] {
    background: #fff;
    width: 80%;
    height: 50px;
    padding: 5%;
    margin: 0 10%;
    border-radius: 8px 8px 0 0; } }

div.gridContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer"; }
  div.gridContainer header {
    grid-area: header; }
  div.gridContainer main {
    grid-area: main; }
  div.gridContainer footer {
    grid-area: footer; }

@media screen and (min-width: 1024px) {
  .gridFirstSection {
    display: grid;
    grid-template-areas: "imagenPrincipal textoPrincipal"; }
    .gridFirstSection .imagenPrincipal {
      grid-area: imagenPrincipal; }
    .gridFirstSection .textoPrincipal {
      grid-area: textoPrincipal; }
  .gridSecondSection {
    display: grid;
    grid-template-areas: "h2 h2 h2" "gridMainVideo gridMainSecondVideo gridMainThirthVideo"; }
    .gridSecondSection h2 {
      grid-area: h2; }
    .gridSecondSection .gridMainVideo {
      grid-area: gridMainVideo; }
    .gridSecondSection .gridMainSecondVideo {
      grid-area: gridMainSecondVideo; }
    .gridSecondSection .gridMainThirthVideo {
      grid-area: gridMainThirthVideo; }
  .gridThirthSection {
    display: grid;
    grid-template-areas: "h2 h2 h2" "imgGridIzq imgGridCentro imgGridDer" "p p p"; }
    .gridThirthSection h2 {
      grid-area: h2; }
    .gridThirthSection .imgGridIzq {
      grid-area: imgGridIzq; }
    .gridThirthSection .imgGridCentro {
      grid-area: imgGridCentro; }
    .gridThirthSection .imgGridDer {
      grid-area: imgGridDer; }
    .gridThirthSection p {
      grid-area: p; }
  .gridTextImage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "h1 h1" "imgGridServicios textGridServicios"; }
    .gridTextImage h1 {
      grid-area: h1; }
    .gridTextImage .imgGridServicios {
      grid-area: imgGridServicios; }
    .gridTextImage .textGridServicios {
      grid-area: textGridServicios; }
  .gridSecondSectionServicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "h2 h2 h2" "textoPrincipal textoPrincipal textoPrincipal" "gridIconUno gridIconDos gridIconTres" "textoIconUno textoIconDos textoIconTres"; }
    .gridSecondSectionServicios h2 {
      grid-area: h2; }
    .gridSecondSectionServicios .textoPrincipal {
      grid-area: textoPrincipal; }
    .gridSecondSectionServicios .gridIconUno {
      grid-area: gridIconUno; }
    .gridSecondSectionServicios .gridIconDos {
      grid-area: gridIconDos; }
    .gridSecondSectionServicios .gridIconTres {
      grid-area: gridIconTres; }
    .gridSecondSectionServicios .textoIconUno {
      grid-area: textoIconUno; }
    .gridSecondSectionServicios .textoIconDos {
      grid-area: textoIconDos; }
    .gridSecondSectionServicios .textoIconTres {
      grid-area: textoIconTres; }
  .gridImagesText {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "gridImgServiciosUno gridImgServiciosDos" "gridTextUno gridTextDos"; }
    .gridImagesText .gridImgServiciosUno {
      grid-area: gridImgServiciosUno; }
    .gridImagesText .gridTextUno {
      grid-area: gridTextUno; }
    .gridImagesText .gridImgServiciosDos {
      grid-area: gridImgServiciosDos; }
    .gridImagesText .gridTextDos {
      grid-area: gridTextDos; }
  .grid-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "gridImgGiftcard gridTextGiftcard"; }
    .grid-content .gridImgGiftcard {
      grid-area: gridImgGiftcard; }
    .grid-content .gridTextGiftcard {
      grid-area: gridTextGiftcard; }
  .gridgiftcard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "gridgiftcardimage gridgiftcardimage" "gridgiftcardtextone gridgiftcardtexttwo"; }
    .gridgiftcard .gridgiftcardimage {
      grid-area: gridgiftcardimage; }
    .gridgiftcard .gridgiftcardtextone {
      grid-area: gridgiftcardtextone; }
    .gridgiftcard .gridgiftcardtexttwo {
      grid-area: gridgiftcardtexttwo; }
  .gridgaleriagiftcard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "h2 h2 h2" "gridimguno gridimgdos gridimgtres"; }
    .gridgaleriagiftcard h2 {
      grid-area: h2; }
    .gridgaleriagiftcard .gridimguno {
      grid-area: gridimguno; }
    .gridgaleriagiftcard .gridimgdos {
      grid-area: gridimgdos; }
    .gridgaleriagiftcard .gridimgtres {
      grid-area: gridimgtres; }
  .gridMainAccount {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "gridAccountLeft gridAccountRight"; }
    .gridMainAccount .gridAccountLeft {
      grid-area: gridAccountLeft; }
    .gridMainAccount .gridAccountRight {
      grid-area: gridAccountRight; }
  .gridAccountColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "h2 h2" "form form"; }
    .gridAccountColumns h2 {
      grid-area: h2; }
    .gridAccountColumns form {
      grid-area: form; }
  .gridGaleria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "h1 h1 h1" "gridTextProductos gridTextProductos gridTextProductos" "productoUno productoDos productoTres" "productoCuatro productoCinco productoSeis" "productoSiete productoOcho productoNueve"; }
    .gridGaleria h1 {
      grid-area: h1; }
    .gridGaleria .gridTextProductos {
      grid-area: gridTextProductos; }
    .gridGaleria .productoUno {
      grid-area: productoUno; }
    .gridGaleria .productoDos {
      grid-area: productoDos; }
    .gridGaleria .productoTres {
      grid-area: productoTres; }
    .gridGaleria .productoCuatro {
      grid-area: productoCuatro; }
    .gridGaleria .productoCinco {
      grid-area: productoCinco; }
    .gridGaleria .productoSeis {
      grid-area: productoSeis; }
    .gridGaleria .productoSiete {
      grid-area: productoSiete; }
    .gridGaleria .productoOcho {
      grid-area: productoOcho; }
    .gridGaleria .productoNueve {
      grid-area: productoNueve; } }

@media screen and (max-width: 768px) {
  .gridFirstSection {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "imagenPrincipal" "textoPrincipal"; }
    .gridFirstSection .imagenPrincipal {
      grid-area: imagenPrincipal; }
    .gridFirstSection .textoPrincipal {
      grid-area: textoPrincipal; }
  .gridSecondSection {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto;
    grid-template-areas: "h2" "gridMainVideo" "gridMainSecondVideo" "gridMainThirthVideo"; }
    .gridSecondSection h2 {
      grid-area: h2; }
    .gridSecondSection .gridMainVideo {
      grid-area: gridMainVideo; }
    .gridSecondSection .gridMainSecondVideo {
      grid-area: gridMainSecondVideo; }
    .gridSecondSection .gridMainThirthVideo {
      grid-area: gridMainThirthVideo; }
  .gridThirthSection {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "h2" "imgGridIzq" "imgGridCentro" "imgGridDer" "p"; }
    .gridThirthSection h2 {
      grid-area: h2; }
    .gridThirthSection .imgGridIzq {
      grid-area: imgGridIzq; }
    .gridThirthSection .imgGridCentro {
      grid-area: imgGridCentro; }
    .gridThirthSection .imgGridDer {
      grid-area: imgGridDer; }
    .gridThirthSection p {
      grid-area: p; }
  .gridGaleria {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(11, auto);
    grid-template-areas: "h1" "gridTextProductos" "productoUno" "productoDos" "productoTres" "productoCuatro"  "productoCinco"  "productoSeis" "productoSiete"  "productoOcho"  "productoNueve"; }
    .gridGaleria h1 {
      grid-area: h1; }
    .gridGaleria .gridTextProductos {
      grid-area: gridTextProductos; }
    .gridGaleria .productoUno {
      grid-area: productoUno; }
    .gridGaleria .productoDos {
      grid-area: productoDos; }
    .gridGaleria .productoTres {
      grid-area: productoTres; }
    .gridGaleria .productoCuatro {
      grid-area: productoCuatro; }
    .gridGaleria .productoCinco {
      grid-area: productoCinco; }
    .gridGaleria .productoSeis {
      grid-area: productoSeis; }
    .gridGaleria .productoSiete {
      grid-area: productoSiete; }
    .gridGaleria .productoOcho {
      grid-area: productoOcho; }
    .gridGaleria .productoNueve {
      grid-area: productoNueve; }
  .gridTextImage {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto;
    grid-template-areas: "h1" "imgGridServicios" "textGridServicios"; }
    .gridTextImage h1 {
      grid-area: h1; }
    .gridTextImage .imgGridServicios {
      grid-area: imgGridServicios; }
    .gridTextImage .textGridServicios {
      grid-area: textGridServicios; }
  .gridSecondSectionServicios {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(8, auto);
    grid-template-areas: "h2" "textoPrincipal" "gridIconUno" "textoIconUno" "gridIconDos" "textoIconDos" "gridIconTres" "textoIconTres"; }
    .gridSecondSectionServicios h2 {
      grid-area: h2; }
    .gridSecondSectionServicios .textoPrincipal {
      grid-area: textoPrincipal; }
    .gridSecondSectionServicios .gridIconUno {
      grid-area: gridIconUno; }
    .gridSecondSectionServicios .textoIconUno {
      grid-area: textoIconUno; }
    .gridSecondSectionServicios .gridIconDos {
      grid-area: gridIconDos; }
    .gridSecondSectionServicios .textoIconDos {
      grid-area: textoIconDos; }
    .gridSecondSectionServicios .gridIconTres {
      grid-area: gridIconTres; }
    .gridSecondSectionServicios .textoIconTres {
      grid-area: textoIconTres; }
  .gridServiciosMQ {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "h2" "gridImagesText"; }
    .gridServiciosMQ h2 {
      grid-area: h2; }
    .gridServiciosMQ .gridImagesText {
      grid-area: gridImagesText;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "gridImgServiciosUno" "gridTextUno" "gridImgServiciosDos" "gridTextDos"; }
      .gridServiciosMQ .gridImagesText .gridImgServiciosUno {
        grid-area: gridImgServiciosUno; }
      .gridServiciosMQ .gridImagesText .gridTextUno {
        grid-area: gridTextUno; }
      .gridServiciosMQ .gridImagesText .gridImgServiciosDos {
        grid-area: gridImgServiciosDos; }
      .gridServiciosMQ .gridImagesText .gridTextDos {
        grid-area: gridTextDos; }
  .gridfirstsectiongiftcard {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "h1" "grid-content"; }
  h1 {
    grid-area: h1; }
  .grid-content {
    grid-area: grid-content;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "gridImgGiftcard" "gridTextGiftcard"; }
    .grid-content .gridImgGiftcard {
      grid-area: gridImgGiftcard; }
    .grid-content .gridTextGiftcard {
      grid-area: gridTextGiftcard; }
  .gridgiftcard {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "gridgiftcardimage" "gridgiftcardtextone" "gridgiftcardtexttwo"; }
    .gridgiftcard .gridgiftcardimage {
      grid-area: gridgiftcardimage; }
    .gridgiftcard .gridgiftcardtextone {
      grid-area: gridgiftcardtextone; }
    .gridgiftcard .gridgiftcardtexttwo {
      grid-area: gridgiftcardtexttwo; }
  .gridgaleriagiftcard {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "h2" "gridimguno" "gridimgdos" "gridimgtres"; }
    .gridgaleriagiftcard h2 {
      grid-area: h2; }
    .gridgaleriagiftcard .gridimguno {
      grid-area: gridimguno; }
    .gridgaleriagiftcard .gridimgdos {
      grid-area: gridimgdos; }
    .gridgaleriagiftcard .gridimgtres {
      grid-area: gridimgtres; } }

.ml-1 {
  margin-left: 10px; }

.mr-1 {
  margin-right: 10px; }

.mt-1 {
  margin-top: 10px; }

.mb-1 {
  margin-bottom: 10px; }

.mx-1 {
  margin-right: 10px;
  margin-left: 10px; }

.ml-2 {
  margin-left: 20px; }

.mr-2 {
  margin-right: 20px; }

.mt-2 {
  margin-top: 20px; }

.mb-2 {
  margin-bottom: 20px; }

.mx-2 {
  margin-right: 20px;
  margin-left: 20px; }

.ml-3 {
  margin-left: 30px; }

.mr-3 {
  margin-right: 30px; }

.mt-3 {
  margin-top: 30px; }

.mb-3 {
  margin-bottom: 30px; }

.mx-3 {
  margin-right: 30px;
  margin-left: 30px; }

.ml-4 {
  margin-left: 40px; }

.mr-4 {
  margin-right: 40px; }

.mt-4 {
  margin-top: 40px; }

.mb-4 {
  margin-bottom: 40px; }

.mx-4 {
  margin-right: 40px;
  margin-left: 40px; }

.ml-5 {
  margin-left: 50px; }

.mr-5 {
  margin-right: 50px; }

.mt-5 {
  margin-top: 50px; }

.mb-5 {
  margin-bottom: 50px; }

.mx-5 {
  margin-right: 50px;
  margin-left: 50px; }

.pl-1 {
  margin-left: 10px; }

.pr-1 {
  margin-right: 10px; }

.pt-1 {
  margin-top: 10px; }

.pb-1 {
  margin-bottom: 10px; }

.px-1 {
  padding-left: 10px;
  padding-right: 10px; }

.py-1 {
  padding-bottom: 10px;
  padding-top: 10px; }

.p-1 {
  padding: 10px; }

.pl-2 {
  margin-left: 20px; }

.pr-2 {
  margin-right: 20px; }

.pt-2 {
  margin-top: 20px; }

.pb-2 {
  margin-bottom: 20px; }

.px-2 {
  padding-left: 20px;
  padding-right: 20px; }

.py-2 {
  padding-bottom: 20px;
  padding-top: 20px; }

.p-2 {
  padding: 20px; }

.pl-3 {
  margin-left: 30px; }

.pr-3 {
  margin-right: 30px; }

.pt-3 {
  margin-top: 30px; }

.pb-3 {
  margin-bottom: 30px; }

.px-3 {
  padding-left: 30px;
  padding-right: 30px; }

.py-3 {
  padding-bottom: 30px;
  padding-top: 30px; }

.p-3 {
  padding: 30px; }

.pl-4 {
  margin-left: 40px; }

.pr-4 {
  margin-right: 40px; }

.pt-4 {
  margin-top: 40px; }

.pb-4 {
  margin-bottom: 40px; }

.px-4 {
  padding-left: 40px;
  padding-right: 40px; }

.py-4 {
  padding-bottom: 40px;
  padding-top: 40px; }

.p-4 {
  padding: 40px; }

.pl-5 {
  margin-left: 50px; }

.pr-5 {
  margin-right: 50px; }

.pt-5 {
  margin-top: 50px; }

.pb-5 {
  margin-bottom: 50px; }

.px-5 {
  padding-left: 50px;
  padding-right: 50px; }

.py-5 {
  padding-bottom: 50px;
  padding-top: 50px; }

.p-5 {
  padding: 50px; }

.fs-1 {
  font-size: 0.2rem; }

.fs-2 {
  font-size: 0.4rem; }

.fs-3 {
  font-size: 0.6rem; }

.fs-4 {
  font-size: 0.8rem; }

.fs-5 {
  font-size: 1rem; }

.fs-6 {
  font-size: 1.2rem; }

.fs-7 {
  font-size: 1.4rem; }

.fs-8 {
  font-size: 1.6rem; }

.fs-9 {
  font-size: 1.8rem; }

.fs-10 {
  font-size: 2rem; }

.fs-11 {
  font-size: 2.2rem; }

.fs-12 {
  font-size: 2.4rem; }

.fs-13 {
  font-size: 2.6rem; }

.fs-14 {
  font-size: 2.8rem; }

.fs-15 {
  font-size: 3rem; }

.fs-16 {
  font-size: 3.2rem; }

.fs-17 {
  font-size: 3.4rem; }

.fs-18 {
  font-size: 3.6rem; }

.fs-19 {
  font-size: 3.8rem; }

.fs-20 {
  font-size: 4rem; }

.centerh1 {
  text-align: center;
  height: auto;
  width: auto;
  font-size: 4rem;
  margin: 30px auto; }

.centerh3 {
  text-align: center;
  height: auto;
  width: auto; }

.textVideo {
  text-align: justify;
  height: 300px;
  width: auto;
  background-color: #f3c12d;
  transition: all 2s linear; }
  .textVideo:hover {
    background-color: #920707;
    cursor: pointer; }

.color {
  color: #fff; }

.textDecoration {
  height: auto;
  background-color: #fff;
  color: #000; }

.gridThirthSection p {
  background: linear-gradient(35deg, #ffc8f9 25%, #4bfede 25%, #4bfede 71%, rgba(0, 0, 0, 0) 71%, #454abb 71%, #454abb 100%); }
  .gridThirthSection p .highlightblack {
    background-color: #000;
    color: #fff; }

.flexUl {
  display: flex;
  flex-direction: column; }

.border {
  border: solid 1px #000; }

.linksDecoration a {
  text-decoration: none;
  color: #000; }

.select {
  box-shadow: 0 4px 15px 0 rgba(132, 144, 143, 0.75);
  font-size: 1.5rem;
  padding: 16px 24px;
  background: #3c3939;
  color: #fff;
  border-radius: 10px;
  transition: all .4s ease-in-out; }

input[type="button"] {
  text-align: center;
  height: 50px;
  width: 150px;
  background: #3c3939;
  color: #fff;
  border-radius: 15px;
  transition: all .4s ease-in-out; }
  input[type="button"]:hover {
    background: #000; }

.button:hover {
  animation: swing 1s ease;
  animation-iteration-count: 1; }

@keyframes swing {
  15% {
    transform: translateX(5px); }
  30% {
    transform: translateX(-5px); }
  50% {
    transform: translateX(3px); }
  65% {
    transform: translateX(-3px); }
  80% {
    transform: translateX(2px); }
  100% {
    transform: translateX(0); } }

.check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: .5rem; }
  .check-list li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #000;
    transform-origin: bottom left;
    transform: rotate(45deg); }

.bgColor {
  background-color: #3c3939;
  color: #fff; }

.gradientradialbg {
  background: #c3eeae;
  background: radial-gradient(circle, #86d060 0%, #70e6de 100%); }

.highlightme {
  background-color: #f3c12d; }

.displayInput {
  display: flex;
  flex-direction: row;
  text-align: center; }
  .displayInput p {
    padding: 1.5rem; }

.sizeForm {
  height: auto; }

.backgroundImg {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/images/background/caprayadas.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.account-input {
  outline: none;
  border: solid 1px #fff;
  color: #fff;
  background: #e1d3d323;
  font-size: 2rem;
  border-radius: 7px; }
  .account-input::placeholder {
    color: #fff; }

.form-input {
  padding: 5px 35px;
  color: #fff;
  font-weight: 500; }

.accountBtn {
  color: none;
  outline: #fff;
  background: #7f7c7c2e;
  border: solid 1px #fff;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  font-weight: bold; }

.accountDecoration a {
  text-decoration: none;
  color: #fff; }
  .accountDecoration a:hover {
    color: #000;
    text-decoration: underline; }

.accountDecoration h2 {
  color: #fff;
  font-weight: bold; }

.displayInput {
  color: #fff; }

.gender-datails .gender-title {
  font-size: 3rem;
  color: #fff;
  padding: 10px 50px;
  font-weight: 500; }

.checkboxDecoration {
  color: #fff; }

section select {
  font-size: 1.5rem;
  padding: 16px 24px;
  background: #3c3939;
  color: #fff;
  border-radius: 10px;
  margin-left: 50px;
  transition: all 2s ease-in; }
  section select:hover {
    background: #000; }

@media screen and (min-width: 1024px) {
  .centerimg, .centerimgservicios {
    margin: 10%;
    width: 80%; }
  .centerText {
    text-align: center;
    font-weight: bold;
    font-size: 2.3rem;
    padding-bottom: 50px; }
  .scale {
    transition: all 2s ease; }
    .scale:hover {
      cursor: pointer;
      transform: scale(1.3, 1.3); }
  .p-m {
    padding-bottom: 10px;
    padding-left: 35px;
    margin-left: auto; }
  .p-10-35 {
    padding: 10px 35px; }
  .m-10 {
    margin: 10px; }
  .stickyTextoPrincipal {
    position: sticky;
    top: 50px; }
  section h2 {
    font-size: 3rem;
    margin-top: 30px;
    margin-left: 35px;
    margin-bottom: 20px; }
  .textVideo {
    height: 300px; }
  .p35 {
    padding: 35px; }
  .fontSize-fontWeight {
    font-size: 3rem;
    font-weight: bold;
    width: 90%;
    margin: auto; }
  .textPadding {
    padding: 5px 50px 40px 50px; }
  .icondecoration {
    padding: 10px 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto; }
  .centerimgicon {
    width: 50%;
    margin: 0 auto; }
  .flextextgiftcard {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px 100px 30px 20px; }
  .flexselectbtn {
    display: flex;
    align-items: center;
    flex-direction: row; }
  .transformgiftcard {
    transform: translateX(42px) skew(-16deg, 11deg);
    box-shadow: -30px -13px 17px 4px rgba(0, 0, 0, 0.3); }
  main section div p {
    margin: 10px 50px;
    font-size: 2rem; }
  main section div h3 {
    padding-left: 35px; }
  .olDecoration {
    padding: 10px 70px;
    font-size: 2rem;
    margin: auto; }
  .select:hover {
    background-color: #000; }
  .linksDecoration a:hover {
    text-decoration: underline;
    color: #920707; }
  section div ul li {
    font-size: 2rem;
    margin-left: 50px; }
  .accountFlex form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .gender-datails {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .flexcheckbox {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .boxglass {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 10px 36px 0px rgba(255, 255, 255, 0.15), inset 0px -10px 36px 0px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); }
  form .user-details .input-box {
    width: calc(100% / 2 - 20px);
    margin: 20px 0 12px 0; }
  .user-details .input-box input {
    height: 35px;
    width: 80%;
    transition: all 0.3s ease; }
    .user-details .input-box input:focus {
      border-bottom-width: 3px; }
  .accountBtn:hover {
    background: #000; }
  .pbottom {
    padding-bottom: 70px; }
  .translateY {
    transition: all 2s ease; }
    .translateY:hover {
      cursor: pointer;
      transform: translateY(-15px); } }

@media screen and (max-width: 768px) {
  .w80p10, div.textVideo, input.accountBtn {
    width: 80%;
    padding: 10%; }
  .flexmediaquerie {
    display: flex;
    flex-direction: column; }
  div.imagenPrincipal img {
    width: 100%;
    margin: auto; }
  h2.centerh2 {
    text-align: center;
    margin: 3rem 10%;
    width: 80%; }
  div.textVideo {
    height: auto;
    background-color: #920707; }
  div.textoPrincipal p {
    margin: 0 auto 5px 20px;
    padding: 5%; }
  .w80m510, section.gridThirthSection img, div.pbottom img {
    width: 80%;
    margin: 5% 10%; }
  div.pbottom h3, p {
    width: 80%;
    padding: 2% 10%; }
  p.centerText {
    text-align: center; }
  select {
    margin-bottom: 5%; }
  h1 {
    width: 100%; }
  .centerimgservicios {
    width: 80%;
    margin: 10%; }
  .p-m {
    margin: 10%;
    width: 80%;
    padding: 0; }
  .fontSize-fontWeight {
    font-weight: bold;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
    padding: 0; }
  .bold {
    font-weight: bold;
    padding-bottom: 10%;
    font-size: 3rem; }
  .textMargin {
    margin: 10%; }
  .centerimgicon {
    width: 60%;
    margin: 0 20%; }
  .flexselectbtn {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .centerimg, .centerimgservicios {
    width: 80%;
    margin: 10%; }
  .select {
    margin: 0; }
  ul.flexUl {
    margin: 10%;
    width: 80%;
    font-size: 2.1rem; }
  ol.olDecoration {
    font-size: 2.1rem;
    width: 80%;
    margin: 10%; }
  p.centerp {
    padding-bottom: 10%; }
  .accountDecoration {
    margin: auto;
    width: 100%;
    padding: 1rem; }
  input.accountBtn {
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    font-size: 2rem; } }
