@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
/*estilos para el header*/
header{
    height: auto;
    background-image: linear-gradient(to left,rgb(187, 225, 35), #f3c12d, rgb(255, 123, 0), #920707);
}
header nav ul li{
    list-style-type: none;
    font-size: 2rem;
    margin: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}
header ul li a:hover , 
header ul li a.active
{
    background: #ffffff;
    color:#920707
}
/* estilos para el footer*/
/* flex en footer*/
.flexEndFooter{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
/*fin flex footer*/
footer{
    background-image: linear-gradient(to bottom, #202ba8, rgb(16, 100, 203));
}
footer a{
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
}
footer a:hover{
    text-decoration: underline;
    color: white;
}
footer input{
    position: relative;
    display: inline-block;
    font-size: 2rem;
    box-sizing: border-box;
}
footer input[type="email"]{
    background: #fff;
    width: 340px;
    height: 50px;
    padding: 0 25px;
    border-radius: 8px 0 0 8px;
}
footer input[type="submit"]{
    position: relative;
    border-radius: 0 8px 8px 0;
    width: 150px;
    height: 50px;
    cursor: pointer;
    background: rgb(0, 76, 255);
    color: #fff;
    padding-left: 30px;
}
footer input[type="submit"]:hover{
    background: aqua;
}
/*estilos generales*/
.centerh1{
    text-align: center;
    font-size: 4rem;
    margin: 30px auto;
}
h3{
    font-size: 2.4rem;
}
p{
    font-size: 1.8rem;
}
h2{
    font-size: 2.8rem;
}
/*grid general*/
.gridContainer{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
/* Estilos para el index.html */
.textoPrincipal h1{
    padding: 50px;
    font-size: 3rem;
}
.centerh3{
    text-align: center;
    padding: 30px;
    font-size: 2rem;
}
.textVideo{
    width: auto;
    height: 300px;
    background-color: rgb(251, 191, 88);
    padding: 30px 10px;
    transition: all 2s linear;
}
.textVideo:hover{
    background-color:#920707;
    cursor: pointer;
}
.color{
    color: white;
}
.textDecoration{
    height: auto;
    padding: 30px 50px;
    background-color: white;
    color: black;
    font-size: 3rem;
}
.gridThirthSection p {
    background: linear-gradient(
    35deg,
    rgba(255, 200, 249, 1) 25%,
    rgba(75, 254, 222, 1) 25%,
    rgba(75, 254, 222, 1) 71%,
    rgba(0, 0, 0, 0) 71%,
    rgba(69, 74, 187, 1) 71%,
    rgba(69, 74, 187, 1) 100%
    );
}
.highlightblack{
    background-color: black;
    color: white;
}
/* @keyframes gradiente{
    0%{background-image: radial-gradient(#3c3939, black);}
    100%{background-color: black; color: white;}
} 
.textDecoration{
    animation-name: gradiente;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
} */
/* Estilos para giftcard.html */
.flexUl{
    display: flex;
    flex-direction: column;
}
.border{
    border: solid 1px black;
}
.linksDecoration a{
    text-decoration: none;
    color: black;
}
.select{
    box-shadow: 0 4px 15px 0 rgba(132, 144, 143, 0.75);
    font-size: 1.5rem;
    padding: 16px 24px;
    background: #3c3939;
    color: #fff;
    border-radius: 10px;
    margin-left: 50px;
    transition: all .4s ease-in-out;
}
input[type="button"]{
    width: 150px;
    height: 50px;
    background: #3c3939;
    color: #fff;
    border-radius: 15px;
    padding: 10px 30px;
    margin: 20px 50px;
    transition: all .4s ease-in-out;
}
input[type="button"]:hover{
    background: black;
}
.button:hover {
    animation: swing 1s ease;
    animation-iteration-count: 1;
}
@keyframes swing {
    15% {transform: translateX(5px);}
    30% {transform: translateX(-5px);}
    50% {transform: translateX(3px);}
    65% {transform: translateX(-3px);}
    80% {transform: translateX(2px);}
    100% {transform: translateX(0);}
}
.check-list li {
    position: relative;
    list-style-type: none;
    padding-left: 2.5rem;
    margin-bottom: .5rem;
}
.check-list li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: black;
    transform-origin: bottom left;
    transform: rotate(45deg);
}
/* estilo para servicios.html */
.bgColor{
    background-color: #3c3939;
    color: #fff;
}
.gradientradialbg{
    background: rgb(195,238,174);
    background: radial-gradient(circle, rgb(134, 208, 96) 0%, rgb(112, 230, 222) 100%);
}
.highlightme{
    background-color: #f3c12d;
}
/* estilos para micuenta */
.displayInput{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.displayInput p{
    padding: 1.5rem;
}
.sizeForm{
    height: auto;
}
.backgroundImg{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../assets/images/background/caprayadas.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.account-input{
    padding: 10px;
    outline: none;
    border: solid 1px #fff;
    color: #fff;
    background: #e1d3d323;
    font-size: 2rem;
    border-radius: 7px;
    margin: 30px;
}
.account-input::placeholder{
    color: #fff;
}
.form-input{
    padding: 5px 35px;
    color: white;
    font-weight: 500;
}
.accountBtn{
    padding: 10px 20px;
    color: none;
    outline: #fff;
    background: #7f7c7c2e;
    border: solid 1px #fff;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px 50px;
}
.accountDecoration h1{
    font-size: 4rem;
    padding: 30px 50px;
}
.accountDecoration a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    padding: 0 50px;
}
.accountDecoration a:hover{
    color: black;
    text-decoration: underline;
}
.accountDecoration h2{
    font-size: 3rem;
    padding: 30px 50px;
    color: #fff;
    font-weight: bold;
}
.displayInput{
    padding: 10px 50px;
    color: #fff;
}
.gender-datails .gender-title{
    font-size: 3rem;
    color: #fff;
    padding: 10px 50px;
    font-weight: 500;
}
.checkboxDecoration{
    color: white;
    font-size: 1.5rem;
    padding: 10px 50px;
    margin-top: 55px;
}
form .user-details .input-box label{
    font-size: 2.5rem;
}
label.form-input{
    font-size: 2.5rem;
}
/* estilos para productos.html*/
section select{
    font-size: 1.5rem;
    padding: 16px 24px;
    background: #3c3939;
    color: #fff;
    border-radius: 10px;
    margin-left: 50px;
    transition: all 2s ease-in;
}
section select:hover{
    background: black;
}
/*Estilos para desktop*/
@media screen and (min-width: 1024px){
    /*estilos generales*/
    .centerimg{
        margin: 10%;
        width: 80%;
    }
    .centerText{
        text-align: center;
        font-weight: bold;
        font-size: 2.3rem;
        padding-bottom: 50px;
    }
    .scale{
        transition: all 2s ease;
    }
    .scale:hover{
        cursor: pointer;
        transform: scale(1.3,1.3);
    }
    .p-m{
        padding-bottom: 10px;
        padding-left: 35px;
        margin-left: auto;
    }
    /* flexbox en header */
    header,ul{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .row-reverse{
        display: flex;
        flex-direction: row-reverse;
    }
    .accountDerecha{
        justify-content: flex-end;
    }
    /*grid en header*/
    .navegador{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "gridlogo gridNavIzq gridNavDer";
    }
    .gridlogo{
        grid-area: gridlogo;
    }
    .gridNavDer{
        grid-area: gridNavDer;
    }
    .gridNavIzq{
        grid-area: gridNavIzq;
    }
    /*fin grid en header*/
    /*estilos footer*/
    .contactDecoration{
        padding: 10px 50px;
    }
    label{
        font-size: 2rem;
        margin-right: 20px;
    }
    /*estilos para index*/
    .p-10-35{
        padding: 10px 35px;
    }
    .m-10{
        margin: 10px;
    }
    .stickyTextoPrincipal{
        position: sticky;
        top: 50px;
    }
    section h2{
        font-size: 3rem;
        margin-top: 30px;
        margin-left: 35px;
        margin-bottom: 20px;
    }
    /*grid index*/
    .gridFirstSection{
        display: grid;
        grid-template-areas:
        "imagenPrincipal textoPrincipal"
    }
    .imagenPrincipal{
        grid-area: imagenPrincipal;
    }
    .textoPrincipal{
        grid-area: textoPrincipal;
    }
    .gridSecondSection{
        display: grid;
        grid-template-areas: 
        "h2 h2 h2"
        "gridMainVideo gridMainSecondVideo gridMainThirthVideo";
    }
    h2{
        grid-area: h2;
    }
    .gridMainVideo{
        grid-area: gridMainVideo;
    }
    .gridMainSecondVideo{
        grid-area: gridMainSecondVideo;
    }
    .gridMainThirthVideo{
        grid-area: gridMainThirthVideo;
    }
    .gridThirthSection{
        display: grid;
        grid-template-areas: 
        "h2 h2 h2"
        "imgGridIzq imgGridCentro imgGridDer"
        "p p p";
    }
    h2{
        grid-area: h2;
    }
    .imgGridIzq{
        grid-area: imgGridIzq;
    }
    .imgGridCentro{
        grid-area: imgGridCentro;
    }
    .imgGridDer{
        grid-area: imgGridDer;
    }
    p{
        grid-area: p;
    }
    /*fin grid index*/
    /*estilos para servicios*/
    .p35{
        padding: 35px;
    }
    .fontSize-fontWeight{
        font-size: 3rem;
        font-weight: bold;
        width: 90%;
        margin: auto;
    }
    .textPadding{
        padding: 5px 50px 40px 50px;
    }
    .icondecoration{
        padding: 10px 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
    }
    .centerimgservicios{
        margin: 10%;
        width: 80%;
    }
    .centerimgicon{
        width: 50%;
        margin: 0 auto;
    }
    /*grid en servicios*/
    .gridTextImage{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "h1 h1"
        "imgGridServicios textGridServicios";
    }
    h1{
        grid-area: h1;
    }
    .imgGridServicios{
        grid-area: imgGridServicios;
    }
    .textGridServicios{
        grid-area: textGridServicios;
    }
    .gridSecondSectionServicios{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "h2 h2 h2"
        "textoPrincipal textoPrincipal textoPrincipal"
        "gridIconUno gridIconDos gridIconTres"
        "textoIconUno textoIconDos textoIconTres";
    }
    h2{
        grid-area: h2;
    }
    .textoPrincipal{
        grid-area: textoPrincipal;
    }
    .gridIconUno{
        grid-area: gridIconUno;
    }
    .gridIconDos{
        grid-area: gridIconDos;
    }
    .gridIconTres{
        grid-area: gridIconTres;
    }
    .textoIconUno{
        grid-area: textoIconUno;
    }
    .textoIconDos{
        grid-area: textoIconDos;
    }
    .textoIconTres{
        grid-area: textoIconTres;
    }
    .gridImagesText{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "gridImgServiciosUno gridImgServiciosDos"
        "gridTextUno gridTextDos";
    }
    .gridImgServiciosUno{
        grid-area: gridImgServiciosUno;
    }
    .gridTextUno{
        grid-area: gridTextUno;
    }
    .gridImgServiciosDos{
        grid-area: gridImgServiciosDos;
    }
    .gridTextDos{
        grid-area: gridTextDos;
    }
    /*fin grid en servicios*/
    /*estilos para giftcard*/
    .transformgiftcard {
        transform: translateX(42px) skew(-16deg, 11deg);
        box-shadow: -30px -13px 17px 4px rgba(0, 0, 0, 0.3);
    }
    .m-40{
        margin: 40px;
    }
    main section div p{
        margin: 10px 50px;
        font-size: 2rem;
    }
    main section div h3{
        padding-left: 35px;
    }
    .olDecoration{
        padding: 10px 70px;
        font-size: 2rem;
        margin: auto;
    }
    .select:hover{
        background-color: black;
    }
    .linksDecoration a:hover{
        text-decoration: underline;
        color: #920707;
    }
    section div ul li{
        font-size: 2rem;
        margin-left: 50px;
    }
    /*flexbox giftcard*/
    .flextextgiftcard{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 15px 100px 30px 20px;
    }
    .flexselectbtn{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    /*fin flexbox giftcard*/
    /*grid en giftcard*/
    .grid-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "gridImgGiftcard gridTextGiftcard";
    }
    .gridImgGiftcard{
        grid-area: gridImgGiftcard;
    }
    .gridTextGiftcard{
        grid-area: gridTextGiftcard;
    }
    .gridgiftcard{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "gridgiftcardimage gridgiftcardimage"
        "gridgiftcardtextone gridgiftcardtexttwo";
    }
    .gridgiftcardimage{
        grid-area: gridgiftcardimage;
    }
    .gridgiftcardtextone{
        grid-area: gridgiftcardtextone;
    }
    .gridgiftcardtexttwo{
        grid-area: gridgiftcardtexttwo;
    }
    .gridgaleriagiftcard{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "h2 h2 h2"
        "gridimguno gridimgdos gridimgtres";
    }
    h2{
        grid-area: h2;
    }
    .gridimguno{
        grid-area: gridimguno;
    }
    .gridimgdos{
        grid-area: gridimgdos;
    }
    .gridimgtres{
        grid-area: gridimgtres;
    }
    /*fin grid en giftcard*/
    /*estilos para micuenta*/
    .boxglass {
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow:
        inset 0px 10px 36px 0px rgba(255, 255, 255, 0.15),
        inset 0px -10px 36px 0px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    .m-30{
        margin: 30px;
    }
    .p-10{
        padding: 10px;
    }
    form .user-details .input-box{
        width: calc(100% / 2 - 20px);
        margin: 20px 0 12px 0;
    }
    .user-details .input-box input{
        height: 35px;
        width: 80%;
        transition: all 0.3s ease;
    }
    .user-details .input-box input:focus{
        border-bottom-width: 3px;
    }
    .accountBtn:hover{
        background: black;
    }
    /*flexbox en micuenta*/
    .accountFlex form .user-details{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .gender-datails{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .flexcheckbox{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /*fin flexbox en micuenta*/
    /*grid en micuenta*/
    .gridMainAccount{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "gridAccountLeft gridAccountRight";
    }
    .gridAccountLeft{
        grid-area: gridAccountLeft;
    }
    .gridAccountRight{
        grid-area: gridAccountRight;
    }
    .gridAccountColumns{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "h2 h2"
        "form form";
    }
    .gridAccountColumns h2{
        grid-area: h2;
    }
    .gridAccountColumns form{
        grid-area: form;
    }
    /*fin grid en micuenta*/
    /*estilos para productos*/
    .pbottom{
        padding-bottom: 70px;
    }
    .translateY{
        transition: all 2s ease;
    }
    .translateY:hover{
        cursor: pointer;
        transform: translateY(-15px);
    } 
    /*grid en productos*/
    .gridGaleria{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "h1 h1 h1"
        "gridTextProductos gridTextProductos gridTextProductos"
        "productoUno productoDos productoTres"
        "productoCuatro productoCinco productoSeis"
        "productoSiete productoOcho productoNueve";
    }
    h1{
        grid-area: h1;
    }
    .gridTextProductos{
        grid-area: gridTextProductos;
    }
    .productoUno{
        grid-area: productoUno;
    }
    .productoDos{
        grid-area: productoDos;
    }
    .productoTres{
        grid-area: productoTres;
    }
    .productoCuatro{
        grid-area: productoCuatro;
    }
    .productoCinco{
        grid-area: productoCinco;
    }
    .productoSeis{
        grid-area: productoSeis;
    }
    .productoSiete{
        grid-area: productoSiete;
    }
    .productoOcho{
        grid-area: productoOcho;
    }
    .productoNueve{
        grid-area: productoNueve;
    }
    /*fin grid en productos*/
}
/*Estilos para mobile*/
@media screen and (max-width: 768px){
    .flexmediaquerie{
        display: flex;
        flex-direction: column;
    }
    /*flexbox en header*/
    .navegador,ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    /*grid index*/
    .gridFirstSection{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: "imagenPrincipal"
        "textoPrincipal";
    }
    .imagenPrincipal{
        grid-area: imagenPrincipal;
    }
    .textoPrincipal{
        grid-area: textoPrincipal;
    }
    .gridSecondSection{
        display: grid;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: auto;
        grid-template-areas: "h2"
        "gridMainVideo"
        "gridMainSecondVideo"
        "gridMainThirthVideo";
    }
    h2{
        grid-area: h2;
    }
    .gridMainVideo{
        grid-area: gridMainVideo;
    }
    .gridMainSecondVideo{
        grid-area: gridMainSecondVideo;
    }
    .gridMainThirthVideo{
        grid-area: gridMainThirthVideo;
    }
    .gridThirthSection{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "h2"
        "imgGridIzq"
        "imgGridCentro"
        "imgGridDer"
        "p";
    }
    h2{
        grid-area: h2;
    }
    .imgGridIzq{
        grid-area: imgGridIzq;
    }
    .imgGridCentro{
        grid-area: imgGridCentro;
    }
    .imgGridDer{
        grid-area: imgGridDer;
    }
    p{
        grid-area: p;
    }
    /*fin grid index*/
    div.imagenPrincipal img{
        width: 100%;
        margin: auto;
    }
    h2.centerh2{
        text-align: center;
        margin: 3rem 10%;
        width: 80%;
    }
    div.centervideo iframe{
        width: 100%;
        height: auto;
    }
    div.textVideo{
        padding: 10%;
        width: 80%;
        height: auto;
        background-color: #920707;
    }
    div.textoPrincipal p{
        margin: 0 auto 5px 20px;
        padding: 5%;
    }
    section.gridThirthSection img{
        width: 80%;
        margin: 5% 10%;
    }
    /*grid en productos*/
    .gridGaleria{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(11, auto);
        grid-template-areas: 
        "h1"
        "gridTextProductos"
        "productoUno"
        "productoDos"
        "productoTres"
        "productoCuatro" 
        "productoCinco" 
        "productoSeis"
        "productoSiete" 
        "productoOcho" 
        "productoNueve";
    }
    h1{
        grid-area: h1;
    }
    .gridTextProductos{
        grid-area: gridTextProductos;
    }
    .productoUno{
        grid-area: productoUno;
    }
    .productoDos{
        grid-area: productoDos;
    }
    .productoTres{
        grid-area: productoTres;
    }
    .productoCuatro{
        grid-area: productoCuatro;
    }
    .productoCinco{
        grid-area: productoCinco;
    }
    .productoSeis{
        grid-area: productoSeis;
    }
    .productoSiete{
        grid-area: productoSiete;
    }
    .productoOcho{
        grid-area: productoOcho;
    }
    .productoNueve{
        grid-area: productoNueve;
    }
    /*fin grid productos*/
    div.centerimg.pbottom img{
        width: 80%;
        margin: 5% 10%;
    }
    div.centerimg.pbottom h3,p{
        width: 80%;
        padding: 2% 10%;
    }
    p.centerText{
        text-align: center;
    }
    select{
        margin-bottom: 5%;
    }
    /*grid en Servicios*/
    .gridTextImage{
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: auto;
        grid-template-areas: "gridH1"
        "imgGridServicios"
        "textGridServicios";
    }
    h1{
        grid-area: gridH1;
    }
    .imgGridServicios{
        grid-area: imgGridServicios;
    }
    .textGridServicios{
        grid-area: textGridServicios;
    }
    .gridSecondSectionServicios{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(8, auto);
    grid-template-areas: "h2"
    "textoPrincipal"
    "gridIconUno"
    "textoIconUno"
    "gridIconDos"
    "textoIconDos"
    "gridIconTres"
    "textoIconTres";
    }
    h2{
        grid-area: h2;
    }
    .textoPrincipal{
        grid-area: textoPrincipal;
    }
    .gridIconUno{
        grid-area: gridIconUno;
    }
    .textoIconUno{
        grid-area: textoIconUno;
    }
    .gridIconDos{
        grid-area: gridIconDos;
    }
    .textoIconDos{
        grid-area: textoIconDos;
    }
    .gridIconTres{
        grid-area: gridIconTres;
    }
    .textoIconTres{
        grid-area: textoIconTres;
    }
    .gridServiciosMQ{
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "h2"
        "gridImagesText";
    }
    h2{
        grid-area: h2;
    }
    .gridImagesText{
        grid-area: gridImagesText;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: "gridImgServiciosUno"
        "gridTextUno"
        "gridImgServiciosDos"
        "gridTextDos";
    }
    .gridImgServiciosUno{
        grid-area: gridImgServiciosUno;
    }
    .gridTextUno{
        grid-area: gridTextUno;
    }
    .gridImgServiciosDos{
        grid-area: gridImgServiciosDos;
    }
    .gridTextDos{
        grid-area: gridTextDos;
    }
    /*fin grid Servicios*/
    h1{
        width: 100%;
    }
    .centerimgservicios{
        width: 80%;
        margin: 10%;
    }
    .p-m{
        margin: 10%;
        width: 80%;
        padding: 0;
    }
    .fontSize-fontWeight{
        font-weight: bold;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 15%;
        padding: 0;
    }
    .bold{
        font-weight: bold;
        padding-bottom: 10%;
        font-size: 3rem;
    }
    /*grid giftcard*/
    .gridfirstsectiongiftcard{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "h1"
        "grid-content";
    }
    h1{
        grid-area: h1;
    }
    .grid-content{
        grid-area: grid-content;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "gridImgGiftcard"
        "gridTextGiftcard";
    }
    .gridImgGiftcard{
        grid-area: gridImgGiftcard;
    }
    .gridTextGiftcard{
        grid-area: gridTextGiftcard;
    }
    .gridgiftcard{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "gridgiftcardimage"
        "gridgiftcardtextone"
        "gridgiftcardtexttwo";
    }
    .gridgiftcardimage{
        grid-area: gridgiftcardimage;
    }
    .gridgiftcardtextone{
        grid-area: gridgiftcardtextone;
    }
    .gridgiftcardtexttwo{
        grid-area: gridgiftcardtexttwo;
    }
    .gridgaleriagiftcard{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "h2"
        "gridimguno"
        "gridimgdos"
        "gridimgtres";
    }
    h2{
        grid-area: h2;
    }
    .gridimguno{
        grid-area: gridimguno;
    }
    .gridimgdos{
        grid-area: gridimgdos;
    }
    .gridimgtres{
        grid-area: gridimgtres;
    }
    /*fin grid Giftcard*/
    .centerimg{
        width: 80%;
        margin: 10%;
    }
    .flexselectbtn{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .select{
        margin: 0;
    }
    ul.flexUl{
        margin: 10%;
        width: 80%;
        font-size: 2.1rem;
    }
    ol.olDecoration{
        font-size: 2.1rem;
        width: 80%;
        margin: 10%;
    }
    p.centerp{
        padding-bottom: 10%;
    }
    /*estilos para micuenta*/
    .accountDecoration{
        margin: auto;
        width: 100%;
        padding: 1rem;
    }
    input.accountBtn{
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        padding: 7%;
        text-align: center;
        font-size: 2rem;
    }
    /*estilos footer*/
    footer input[type="submit"]{
        position: relative;
        border-radius: 0 0 8px 8px;
        width: 80%;
        margin: 0 10%;
        height: 4rem;
        cursor: pointer;
        background: rgb(0, 76, 255);
        color: #fff;
        padding: 0;
        text-align: center;
    }
    footer input[type="submit"]:hover{
        background: aqua;
    }
    section.contactDecoration h3{
        width: 80%;
        margin: 2% 10%;
    }
    section.contactDecoration label{
        display: block;
        font-size: 2.1rem;
        width: 80%;
        margin: 4% 10%;
    }
    footer input[type="email"]{
        background: #fff;
        width: 80%;
        height: 50px;
        padding: 5%;
        margin: 0 10%;
        border-radius: 8px 8px 0 0;
    }
}