@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
/*estilos para el header*/
header{
    height: auto;
    background-image: linear-gradient(to left,rgb(187, 225, 35), #f3c12d, rgb(255, 123, 0), #920707);
}
header nav ul li{
    list-style-type: none;
    font-size: 2rem;
    margin: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}
header ul li a:hover , 
header ul li a.active
{
    background: #ffffff;
    color:#920707
}
/*grid en header*/
.navegador{
    width: 100%;
    display: grid;
    grid-template-areas: 
    "gridlogo gridNavIzq gridNavDer";
}
.gridlogo{
    grid-area: gridlogo;
}
.gridNavDer{
    grid-area: gridNavDer;
}
.gridNavIzq{
    grid-area: gridNavIzq;
}
/* flexbox en header */
header,ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.row-reverse{
    display: flex;
    flex-direction: row-reverse;
}
.accountDerecha{
    justify-content: flex-end;
}
/* estilos para el footer*/
/* flex en footer*/
.flexEndFooter{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
/*fin flex footer*/
footer{
    background-image: linear-gradient(to bottom, #202ba8, rgb(16, 100, 203));
    /* background-color: #202ba8; */
}
footer a{
    text-decoration: none;
    color:black;
}
footer a:hover{
    text-decoration: underline;
    color: white;
}
.contactDecoration{
    padding: 10px 50px;
}
footer input{
    position: relative;
    display: inline-block;
    font-size: 2rem;
    box-sizing: border-box;
}
footer input[type="email"]{
    background: #fff;
    width: 340px;
    height: 50px;
    padding: 0 25px;
    border-radius: 8px 0 0 8px;
}
footer input[type="submit"]{
    position: relative;
    border-radius: 0 8px 8px 0;
    width: 150px;
    height: 50px;
    cursor: pointer;
    background: rgb(0, 76, 255);
    color: #fff;
    padding-left: 30px;
}
footer input[type="submit"]:hover{
    background: aqua;
}
label{
    font-size: 2rem;
    margin-right: 20px;
}
/*estilos generales*/
.centerh1{
    text-align: center;
    font-size: 4rem;
    margin: 30px auto;
}
h3{
    font-size: 2.4rem;
}
p{
    font-size: 1.5rem;
}
.centerimg{
    margin: 0 auto;
    padding: 20px 40px;
    /* width: 100%; */
}
.centerText{
    text-align: center;
    font-weight: bold;
    font-size: 2.3rem;
    padding-bottom: 50px;
}
.scale{
    transition: all 2s ease;
}
.scale:hover{
    cursor: pointer;
    transform: scale(1.3,1.3);
}
/* Estilos para el index.html */
/*Grid index*/
.gridConteiner{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
}
.gridFirstSection{
    display: grid;
    grid-template-areas:
    "imagenPrincipal textoPrincipal"
}
.imagenPrincipal{
    grid-area: imagenPrincipal;
}
.textoPrincipal{
    grid-area: textoPrincipal;
}
.gridSecondSection{
    display: grid;
    grid-template-areas: 
    "h2 h2 h2"
    "gridMainVideo gridMainSecondVideo gridMainThirthVideo";
}
h2{
    grid-area: h2;
}
.gridMainVideo{
    grid-area: gridMainVideo;
}
.gridMainSecondVideo{
    grid-area: gridMainSecondVideo;
}
.gridMainThirthVideo{
    grid-area: gridMainThirthVideo;
}
.gridThirthSection{
    display: grid;
    grid-template-areas: 
    "h2 h2 h2"
    "imgGridIzq imgGridCentro imgGridDer"
    "p p p";
}
h2{
    grid-area: h2;
}
.imgGridIzq{
    grid-area: imgGridIzq;
}
.imgGridCentro{
    grid-area: imgGridCentro;
}
.imgGridDer{
    grid-area: imgGridDer;
}
p{
    grid-area: p;
}
/*finaliza grid index*/
.textoPrincipal h1{
    padding: 50px;
    font-size: 3rem;
}
.stickyTextoPrincipal{
    position: sticky;
    top: 50px;
}
.centerh3{
    text-align: center;
    padding: 30px;
    font-size: 2rem;
}
.p-10-35{
    padding: 10px 35px;
}
.m-10{
    margin: 10px;
}
.textVideo{
    width: auto;
    height: 300px;
    background-color: rgb(225, 155, 33);
    padding: 30px 10px;
    transition: all 2s linear;
}
.textVideo:hover{
    background-color:#920707;
    cursor: pointer;
}
.color{
    color: white;
}
.textDecoration{
    height: auto;
    padding: 30px 50px;
    background-color: white;
    color: black;
    font-size: 3rem;
}
@keyframes gradiente{
    0%{background-image: radial-gradient(#3c3939, black);}
    100%{background-color: black; color: white;}
} 
.textDecoration{
    animation-name: gradiente;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
section h2{
    font-size: 3rem;
    margin-top: 30px;
    margin-left: 35px;
    margin-bottom: 20px;
}
/* Estilos para giftcard.html */
/*grid en giftcard*/
.grid-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "gridImgGiftcard gridTextGiftcard";
}
.gridImgGiftcard{
    grid-area: gridImgGiftcard;
}
.gridTextGiftcard{
    grid-area: gridTextGiftcard;
}
.gridgiftcard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "gridgiftcardimage gridgiftcardimage"
    "gridgiftcardtextone gridgiftcardtexttwo";
}
.gridgiftcardimage{
    grid-area: gridgiftcardimage;
}
.gridgiftcardtextone{
    grid-area: gridgiftcardtextone;
}
.gridgiftcardtexttwo{
    grid-area: gridgiftcardtexttwo;
}
.gridgaleriagiftcard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "h2 h2 h2"
    "gridimguno gridimgdos gridimgtres";
}
h2{
    grid-area: h2;
}
.gridimguno{
    grid-area: gridimguno;
}
.gridimgdos{
    grid-area: gridimgdos;
}
.gridimgtres{
    grid-area: gridimgtres;
}
/*finaliza grid en giftcard*/
/*flexbox giftcard*/
.flexUl{
    display: flex;
    flex-direction: column;
}
.p-m-flex{
    display: flex;
    align-items: center;
    margin: 0 10px 0 125px;
}
.flextextgiftcard{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px 100px 30px 20px;
}
.flexselectbtn{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*finaliza flexbox giftcard*/
.m-40{
    margin: 40px;
}
.border{
    border: solid 1px black;
}
main section div p{
    margin: 10px 50px;
    font-size: 2rem;
}
main section div h3{
    padding-left: 35px;
}
.olDecoration{
    padding: 10px 70px;
    font-size: 2rem;
    margin: auto;
}
.linksDecoration a{
    text-decoration: none;
    color: black;
}
.linksDecoration a:hover{
    text-decoration: underline;
    color: #920707;
}
.select{
    box-shadow: 0 4px 15px 0 rgba(132, 144, 143, 0.75);
    font-size: 1.5rem;
    padding: 16px 24px;
    background: #3c3939;
    color: #fff;
    border-radius: 10px;
    margin-left: 50px;
    transition: all .4s ease-in-out;
}
.select:hover{
    background-color: black;
}
input[type="button"]{
    width: 150px;
    height: 50px;
    background: #3c3939;
    color: #fff;
    border-radius: 15px;
    padding: 10px 30px;
    margin: 20px 50px;
    transition: all .4s ease-in-out;
}
input[type="button"]:hover{
    background: black;
}
.button:hover {
    animation: swing 1s ease;
    animation-iteration-count: 1;
    }
@keyframes swing {
    15% {transform: translateX(5px);}
    30% {transform: translateX(-5px);}
    50% {transform: translateX(3px);}
    65% {transform: translateX(-3px);}
    80% {transform: translateX(2px);}
    100% {transform: translateX(0);}
}
.check-list li {
    position: relative;
    list-style-type: none;
    padding-left: 2.5rem;
    margin-bottom: 0.5rem;
}
.check-list li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: black;
    transform-origin: bottom left;
    transform: rotate(45deg);
}
section div ul li{
    font-size: 2rem;
    margin-left: 50px;
}
/* estilo para servicios.html */
/*grid en servicios*/
.gridTextImage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "h1 h1"
    "imgGridServicios textGridServicios";
}
h1{
    grid-area: h1;
}
.imgGridServicios{
    grid-area: imgGridServicios;
}
.textGridServicios{
    grid-area: textGridServicios;
}
.gridSecondSectionServicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "h2 h2 h2"
    "textoPrincipal textoPrincipal textoPrincipal"
    "gridIconUno gridIconDos gridIconTres"
    "textoIconUno textoIconDos textoIconTres";
}
h2{
    grid-area: h2;
}
.textoPrincipal{
    grid-area: textoPrincipal;
}
.gridIconUno{
    grid-area: gridIconUno;
}
.gridIconDos{
    grid-area: gridIconDos;
}
.gridIconTres{
    grid-area: gridIconTres;
}
.textoIconUno{
    grid-area: textoIconUno;
}
.textoIconDos{
    grid-area: textoIconDos;
}
.textoIconTres{
    grid-area: textoIconTres;
}
.gridImagesText{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "gridImgServiciosUno gridImgServiciosDos"
    "gridTextUno gridTextDos";
}
.gridImgServiciosUno{
    grid-area: gridImgServiciosUno;
}
.gridTextUno{
    grid-area: gridTextUno;
}
.gridImgServiciosDos{
    grid-area: gridImgServiciosDos;
}
.gridTextDos{
    grid-area: gridTextDos;
}
/*fin grid en servicios*/
.bgColor{
    background-color: #3c3939;
    color: #fff;
}
.gradientradialbg{
    background: rgb(195,238,174);
    background: radial-gradient(circle, rgb(134, 208, 96) 0%, rgb(112, 230, 222) 100%);
}
.p-m{
    padding: 50px;
    margin-left: auto;
}
.p35{
    padding: 35px;
}
.fontSize-fontWeight{
    font-size: 3rem;
    font-weight: bold;
}
.textPadding{
    padding: 5px 50px 40px 50px;
}
.icondecoration{
    padding: 10px 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
/* estilo para micuenta.html */
/*Grids para micuenta*/
.gridMainAccount{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "gridAccountLeft gridAccountRight";
}
.gridAccountLeft{
    grid-area: gridAccountLeft;
}
.gridAccountRight{
    grid-area: gridAccountRight;
}
.gridAccountColumns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "h2 h2"
    "form form";
}
.gridAccountColumns h2{
    grid-area: h2;
}
.gridAccountColumns form{
    grid-area: form;
}
/* finaliza grids en micuenta*/
/*flexbox en micuenta*/
.accountFlex form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gender-datails{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexcheckbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .flexcheckbox{
    display:flex;
    justify-content: space-between;
} */
/*fin flexbox en micuenta*/
.m-30{
    margin: 30px;
}
.p-10{
    padding: 10px;
}
form .user-details .input-box{
    width: calc(100% / 2 - 20px);
    margin: 20px 0 12px 0;
}
.user-details .input-box input{
    height: 35px;
    width: 80%;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus{
    border-bottom-width: 3px;
}
form .user-details .input-box label{
    font-size: 2.5rem;
}
.displayInput{
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}
.displayInput p{
    padding: 1.5rem;
}
.sizeForm{
    height: auto;
}
.backgroundImg{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../assets/images/background/caprayadas.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.account-input{
    padding: 10px;
    outline: none;
    border: solid 1px #fff;
    color: #fff;
    background: #e1d3d323;
    font-size: 2rem;
    border-radius: 7px;
    margin: 30px;
}
.account-input::placeholder{
    color: #fff;
}
.form-input{
    padding: 5px 35px;
    color: white;
    font-weight: 500;
}
.accountBtn{
    padding: 10px 20px;
    color: none;
    outline: #fff;
    background: #7f7c7c2e;
    border: solid 1px #fff;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px 50px;
}
.accountBtn:hover{
    background: black;
}
.accountDecoration h1{
    font-size: 4rem;
    padding: 30px 50px;
}
.accountDecoration a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    padding: 0 50px;
}
.accountDecoration a:hover{
    color: black;
    text-decoration: underline;
}
.accountDecoration h2{
    font-size: 3rem;
    padding: 30px 50px;
    color: #fff;
    font-weight: bold;
}
.displayInput{
    padding: 10px 50px;
    color: #fff;
}
.gender-datails .gender-title{
    font-size: 3rem;
    color: #fff;
    padding: 10px 50px;
    font-weight: 500;
}
.checkboxDecoration{
    color: white;
    font-size: 1.5rem;
    padding: 10px 50px;
    margin-top: 55px;
}
/* estilos para productos.html*/
/*grid en productos*/
.gridGaleria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "h1 h1 h1"
    "gridTextProductos gridTextProductos gridTextProductos"
    "productoUno productoDos productoTres"
    "productoCuatro productoCinco productoSeis"
    "productoSiete productoOcho productoNueve";
}
h1{
    grid-area: h1;
}
.gridTextProductos{
    grid-area: gridTextProductos;
}
.productoUno{
    grid-area: productoUno;
}
.productoDos{
    grid-area: productoDos;
}
.productoTres{
    grid-area: productoTres;
}
.productoCuatro{
    grid-area: productoCuatro;
}
.productoCinco{
    grid-area: productoCinco;
}
.productoSeis{
    grid-area: productoSeis;
}
.productoSiete{
    grid-area: productoSiete;
}
.productoOcho{
    grid-area: productoOcho;
}
.productoNueve{
    grid-area: productoNueve;
}
/*fin grids en productos*/
section select{
    font-size: 1.5rem;
    padding: 16px 24px;
    background: #3c3939;
    color: #fff;
    border-radius: 10px;
    margin-left: 50px;
}
section select:hover{
    background: black;
}
.pbottom{
    padding-bottom: 70px;
}
.translateY{
    transition: all 2s ease;
}
.translateY:hover{
    cursor: pointer;
    transform: translateY(-15px);
} 
@media screen and (max-width: 768px) {
    .gridConteiner{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }
    header{
        grid-area: header;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }
    .flexmediaquerie{
        display: flex;
        flex-direction: column;
    }
    .navegador,ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .imgWidth70{
        width: 70%;
    }
    .imgWidth100{
        width: 100%;
    }
    .centervideo{
        margin: auto;
        text-align: center;
    }
    .centerh2{
        text-align: center;
        margin: 5rem 2rem;
    }
    .textMediaQuerie{
        margin: 0 auto;
        width: 100%;
    }
    .flexselectbtn{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flexselectbtn .select{
        margin: auto;
    }
    .check-list li{
        margin: auto 50px;
    }
    .m-40{
        margin: 1em auto;
    }
    main section div h3{
        text-align: center;
        margin: auto;
        padding: 1rem 2rem;
    }
    .centerp{
        text-align: center;
        margin: auto;
        padding: 0 1rem 2rem 1rem;
    }
    .centervideo{
        width: 100%;
    }
    .p-2{
        padding: 2rem;
    }
    .accountDecoration{
        margin: auto;
        width: 100%;
        padding: 1rem;
    }
    form .user-details .input-box {
        width: 100%;
        margin: auto;
    }
    label.form-input{
        margin: auto;
        padding: 2rem;
    }
    input.account-input{
        margin: 2rem 2rem;
    }
    .checkboxDecoration{
        margin: 1rem;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .contactDecoration h3,p{
        text-align: left;
        margin: auto;
        width: 100%;
    }
    .contactDecoration{
        padding: 1rem 3rem;
        margin: auto;
    }
    .contactDecoration label{
        text-align: left;
        width: 100%;
        margin: auto;
        display: block;
    }
    footer input[type="email"]{
        height: 4rem;
        width: 100%;
        border-radius: 4px;
    }
    footer input[type="submit"]{
        height: 4rem;
        width: 100%;
        padding: .5rem 1rem;
        border-radius: 4px;
        text-align: center;
    }
    p.textDecoration{
        text-align: justify;
        padding-left: 2rem;
        padding-right: 2rem;
        margin: auto
        width: 100%;
        font-size: 2rem;
        height: auto;
    }
    div.textoPrincipal{
        margin: auto;
        padding: 0;
        width: 100%;
    }
    select{
        margin-bottom: 2rem;
    }
}
