@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import "colors";
*{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
@import "header";
@import "footer";
@import "grids";
//bucles
@for $margin from 1 through 5{
    .ml-#{$margin}{
        margin-left: 10px * $margin;
    }
    .mr-#{$margin}{
        margin-right: 10px * $margin;
    }
    .mt-#{$margin}{
        margin-top: 10px * $margin;
    }
    .mb-#{$margin}{
        margin-bottom: 10px * $margin;
    }
    .mx-#{$margin}{
        margin-right: 10px * $margin;
        margin-left: 10px * $margin;
    }
}
@for $padding from 1 through 5{
    .pl-#{$padding}{
        margin-left: 10px * $padding;
    }
    .pr-#{$padding}{
        margin-right: 10px * $padding;
    }
    .pt-#{$padding}{
        margin-top: 10px * $padding;
    }
    .pb-#{$padding}{
        margin-bottom: 10px * $padding;
    }
    .px-#{$padding}{
        padding-left: 10px * $padding;
        padding-right: 10px * $padding;
    }
    .py-#{$padding}{
        padding-bottom: 10px * $padding;
        padding-top: 10px * $padding;
    }
    .p-#{$padding}{
        padding: 10px * $padding;
    }
}
@for $fontsize from 1 through 20{
    .fs-#{$fontsize}{
        font-size: .2rem * $fontsize;
    }
}
//mixin
@mixin estilosGenerales($textalign, $height, $width){
    text-align: $textalign;
    height: $height;
    width: $width;
}
//mapa
$estilosgenerales: (
    font-size: 4rem,
    margin: 30px auto
);
// estilos generales
.centerh1{
    @include estilosGenerales(center, auto, auto);
    font-size: map-get($estilosgenerales, font-size);
    margin:  map-get($estilosgenerales, margin);
}
// estilos index
.centerh3{
    @include estilosGenerales(center, auto, auto);
}
.textVideo{
    @include estilosGenerales(justify, 300px, auto);
    background-color: $colorPatito;
    transition: all 2s linear;
    &:hover{
        background-color: $colorPrimario;
        color: white;
        cursor: pointer;
    }
}
.color{
    color: $colorBlanco;
}
.textDecoration{
    height: auto;
    background-color: $colorBlanco;
    color: $colorNegro;
}
.gridThirthSection p {
    background: linear-gradient(
    35deg,
    rgba(255, 200, 249, 1) 25%,
    rgba(75, 254, 222, 1) 25%,
    rgba(75, 254, 222, 1) 71%,
    rgba(0, 0, 0, 0) 71%,
    rgba(69, 74, 187, 1) 71%,
    rgba(69, 74, 187, 1) 100%
    );
    & .highlightblack{
        background-color: $colorNegro;
        color: $colorBlanco;
    }
}
//estilos para giftcard
.flexUl{
    display: flex;
    flex-direction: column;
}
.border{
    border: solid 1px $colorNegro;
}
.linksDecoration a{
    text-decoration: none;
    color: $colorNegro;
}
.select{
    box-shadow: 0 4px 15px 0 rgba(132, 144, 143, 0.75);
    font-size: 1.5rem;
    padding: 16px 24px;
    background: #3c3939;
    color: #fff;
    border-radius: 10px;
    transition: all .4s ease-in-out;
}
input[type="button"]{
    @include estilosGenerales(center, 50px, 150px);
    background: #3c3939;
    color: #fff;
    border-radius: 15px;
    transition: all .4s ease-in-out;
    &:hover{
        background: $colorNegro;
    }
}
.button:hover {
    animation: swing 1s ease;
    animation-iteration-count: 1;
}
@keyframes swing {
    15% {transform: translateX(5px);}
    30% {transform: translateX(-5px);}
    50% {transform: translateX(3px);}
    65% {transform: translateX(-3px);}
    80% {transform: translateX(2px);}
    100% {transform: translateX(0);}
}
.check-list li {
    position: relative;
    list-style-type: none;
    padding-left: 2.5rem;
    margin-bottom: .5rem;
    &:before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: -2px;
        width: 5px;
        height: 11px;
        border-width: 0 2px 2px 0;
        border-style: solid;
        border-color: $colorNegro;
        transform-origin: bottom left;
        transform: rotate(45deg);
    }
}
//estilos para servicios
.bgColor{
    background-color: #3c3939;
    color: $colorBlanco;
}
.gradientradialbg{
    background: rgb(195,238,174);
    background: radial-gradient(circle, rgb(134, 208, 96) 0%, rgb(112, 230, 222) 100%);
}
.highlightme{
    background-color: $colorPatito;
}
.fontSize-fontWeight{
    font-size: 3rem;
    font-weight: bold;
    width: 90%;
    margin: auto;
}
//estilos para micuenta
.displayInput{
    display: flex;
    flex-direction: row;
    text-align: center;
    & p{
        padding: 1.5rem;
    }
}
.sizeForm{
    height: auto;
}
.backgroundImg{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../assets/images/background/caprayadas.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.account-input{
    outline: none;
    border: solid 1px $colorBlanco;
    color: $colorBlanco;
    background: #e1d3d323;
    font-size: 2rem;
    border-radius: 7px;
    &::placeholder{
        color: $colorBlanco;
    }
}
.form-input{
    padding: 5px 35px;
    color: $colorBlanco;
    font-weight: 500;
}
.accountBtn{
    color: none;
    outline: $colorBlanco;
    background: #7f7c7c2e;
    border: solid 1px $colorBlanco;
    cursor: pointer;
    color: $colorBlanco;
    border-radius: 5px;
    font-weight: bold;
}
.accountDecoration{
    & a{
        text-decoration: none;
        color: $colorBlanco;
        &:hover{
            color: $colorNegro;
            text-decoration: underline;
        }
    }
    & h2{
        color: $colorBlanco;
        font-weight: bold;
    }
}
.displayInput{
    color: $colorBlanco;
}
.gender-datails .gender-title{
    font-size: 3rem;
    color: $colorBlanco;
    padding: 10px 50px;
    font-weight: 500;
}
.checkboxDecoration{
    color: $colorBlanco;
}
//estilos para productos
section select{
    font-size: 1.5rem;
    padding: 16px 24px;
    background: $colorSecundario;
    color: $colorBlanco;
    border-radius: 10px;
    margin-left: 50px;
    transition: all 2s ease-in;
    &:hover{
        background: $colorNegro;
    }
}
// estilos para desktop
@media screen and (min-width: 1024px){
    //estilos generales
    .centerimg{
        margin: 10%;
        width: 80%;
    }
    .centerText{
        text-align: center;
        font-weight: bold;
        font-size: 2.3rem;
        padding-bottom: 50px;
    }
    .scale{
        transition: all 2s ease;
        &:hover{
            cursor: pointer;
            transform: scale(1.3,1.3);
        }
    }
    .p-m{
        padding-bottom: 10px;
        padding-left: 35px;
        margin-left: auto;
    }
    //estilos index
    .p-10-35{
        padding: 10px 35px;
    }
    .m-10{
        margin: 10px;
    }
    .stickyTextoPrincipal{
        position: sticky;
        top: 50px;
    }
    section h2{
        font-size: 3rem;
        margin-top: 30px;
        margin-left: 35px;
        margin-bottom: 20px;
    }
    .textVideo{
        height: 430px;
    }
    //estilos para servicios
    .p35{
        padding: 35px;
    }
    .textPadding{
        padding: 5px 50px 40px 50px;
    }
    .icondecoration{
        padding: 10px 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
    }
    .centerimgservicios{
        @extend .centerimg;
    }
    .centerimgicon{
        width: 50%;
        margin: 0 auto;
    }
    //estilos para giftcard
    //flexbox en giftcard
    @mixin flexcenter{
        display: flex;
        align-items: center;
    }
    .flextextgiftcard{
        @include flexcenter;
        flex-direction: column;
        margin: 15px 100px 30px 20px;
    }
    .flexselectbtn{
        @include flexcenter;
        flex-direction: row;
    }
    //fin flexbox en giftcard
    .transformgiftcard {
        transform: translateX(42px) skew(-16deg, 11deg);
        box-shadow: -30px -13px 17px 4px rgba(0, 0, 0, 0.3);
    }
    main section div{
        p{
            margin: 10px 50px;
            font-size: 2rem;
        }
        h3{
            padding-left: 35px;
        }
    } 
    .olDecoration{
        padding: 10px 70px;
        font-size: 2rem;
        margin: auto;
    }
    .select:hover{
        background-color: $colorNegro;
    }
    .linksDecoration a:hover{
        text-decoration: underline;
        color: $colorPrimario;
    }
    section div ul li{
        font-size: 2rem;
        margin-left: 50px;
    }
    //estilos para micuenta
    //flexbox en micuenta
    .accountFlex form .user-details{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .gender-datails{
        @include flexcenter;
        justify-content: space-between;
    }
    .flexcheckbox{
        @include flexcenter;
        justify-content: space-between;
    }
    //fin flexbox en micuenta
    .boxglass {
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow:
        inset 0px 10px 36px 0px rgba(255, 255, 255, 0.15),
        inset 0px -10px 36px 0px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    form .user-details .input-box{
        width: calc(100% / 2 - 20px);
        margin: 20px 0 12px 0;
    }
    .user-details .input-box input{
        height: 35px;
        width: 80%;
        transition: all 0.3s ease;
        &:focus{
            border-bottom-width: 3px;
        }
    }
    .accountBtn:hover{
        background: $colorNegro;
    }
    //estilos para productos
    .pbottom{
        padding-bottom: 70px;
    }
    .translateY{
        transition: all 2s ease;
        &:hover{
            cursor: pointer;
            transform: translateY(-15px);
        }
    }
}
// estilos para mobile
@media screen and (max-width: 768px) {
    .w80p10{
        width: 80%;
        padding: 10%;
    }
    .flexmediaquerie{
        display: flex;
        flex-direction: column;
    }
    //estilos INDEX
    div.imagenPrincipal img{
        width: 100%;
        margin: auto;
    }
    h2.centerh2{
        text-align: center;
        margin: 3rem 10%;
        width: 80%;
    }
    div.textVideo{
        @extend .w80p10;
        height: auto;
        background-color: $colorPrimario;
    }
    div.textoPrincipal p{
        margin: 0 auto 5px 20px;
        padding: 5%;
    }
    .w80m510{
        width: 80%;
        margin: 5% 10%;
    }
    section.gridThirthSection img{
        @extend .w80m510;
    }
    //estilos PRODUCTOS
    div.pbottom img{
        @extend .w80m510;
    }
    div.pbottom h3,p{
        width: 80%;
        padding: 2% 10%;
    }
    p.centerText{
        text-align: center;
    }
    select{
        margin-bottom: 5%;
    }
    //estilos en SERVICIOS
    h1{
        width: 100%;
    }
    .centerimgservicios{
        width: 80%;
        margin: 10%;
    }
    .p-m{
        margin: 10%;
        width: 80%;
        padding: 0;
    }
    .fontSize-fontWeight{
        font-weight: bold;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 15%;
        padding: 0;
    }
    .bold{
        font-weight: bold;
        padding-bottom: 10%;
        font-size: 3rem;
    }
    .textMargin{
        margin: 10%;
    }
    .centerimgicon{
        width: 60%;
        margin: 0 20%;
    }
    //estilos GIFTCARD
    //flexbox en giftcard
    .flexselectbtn{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    //fin flexbox en giftcard
    .centerimg{
        width: 80%;
        margin: 10%;
    }
    .select{
        margin: 0;
    }
    ul.flexUl{
        margin: 10%;
        width: 80%;
        font-size: 2.1rem;
    }
    ol.olDecoration{
        font-size: 2.1rem;
        width: 80%;
        margin: 10%;
    }
    p.centerp{
        padding-bottom: 10%;
    }
    //estilos para MICUENTA
    .accountDecoration{
        width: 100%;
        padding: 1rem;
    }
    input.accountBtn{
        border-radius: 20px;
        padding: 5%;
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 10px;
        margin-bottom: 15px;
        text-align: center;
        font-size: 2rem;
    }
    .user-details .input-box input{
        height: 35px;
        width: 80%;
        margin: 1rem 10%;
        transition: all 0.3s ease;
        &:focus{
            border-bottom-width: 3px;
        }
    }
    .accountBtn:hover{
        background: $colorNegro;
    }
}